In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from src.data import load_raw_data

rides = load_raw_data(year=2022, months=1)
rides

File 2022-01 was already in local storage

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
2463926 2022-01-31 23:36:53                  90
2463927 2022-01-31 23:44:22                 107
2463928 2022-01-31 23:39:00                 113
2463929 2022-01-31 23:36:42                 148
2463930 2022-01-31 23:46:00                 186

[2463879 rows x 2 columns]

In [4]:
from src.data import transform_raw_data_into_ts_data

rides = transform_raw_data_into_ts_data(rides)
rides

100%|██████████| 265/265 [00:00<00:00, 867.67it/s]

               pickup_hour  rides  pickup_location_id
0      2022-01-01 00:00:00      0                   1
1      2022-01-01 01:00:00      0                   1
2      2022-01-01 02:00:00      0                   1
3      2022-01-01 03:00:00      0                   1
4      2022-01-01 04:00:00      1                   1
...                    ...    ...                 ...
197155 2022-01-31 19:00:00     13                 265
197156 2022-01-31 20:00:00     14                 265
197157 2022-01-31 21:00:00      1                 265
197158 2022-01-31 22:00:00      4                 265
197159 2022-01-31 23:00:00      4                 265

[197160 rows x 3 columns]